* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
}

li a {
    text-decoration: none;
    font-size: 20px;
    color: #ffffff;
    
}

li{
    list-style: none;
}

#logo {
    height: 100px;
    width: 150px;
}

ul {
    display: flex;
    flex-direction: row;
}
