* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
}

li a {
    text-decoration: none;
    font-size: 20px;
    color: #ffffff;
    padding: 20px;
}

li{
    list-style: none;
}

#logo {
    height: 90px;
    width: 140px;
}

ul {
    display: flex;
    flex-direction: row;
}

.menu {
    display: flex;
    flex-direction: row;;
    align-items: center;
    justify-content: space-around;
}

.caixa_img_logo {
    height: 90px;
    width: 90px;
    display: flex;
    justify-content: center;
}

.bi{
    font-size: 50px;
    color: #4c544c;     
}

.banner{
    background-image: url("./assets/banner.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    width: 800px;
    border-radius: 25px;
    margin: auto;
    display: flex;
    flex-direction: column;         
    align-items: flex-start;
    justify-content: center;
}

.texto-banner{
    font-size: 25px;
    color: #ffffff;
}

.btn-banner{
    height: 56px;
    width: 192px;
    border-radius: 50px;
    background-color: #333333;
    color: #ffffff;
    font-weight: bold;
    border: none;
    font-size: larger;
}

.texto-menu{
    
}

.btn-menu{
   
}



